*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 1.2rem 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

form label{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

form input,textarea{
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

input:focus,textarea:focus{
    outline: none;
}

button{
    margin-bottom:1.5rem;
    padding: 1rem 0;
    font-size: 1.1rem;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 8px;
}

button:hover{
    background-color: rgb(4, 124, 244);
}