*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container{
    padding: 1.1rem !important;
}


.filter-section{
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    max-width: 220px !important;
    margin-right: 1.5rem;
    padding: 1rem;
}

.filter-header{
    display: flex;
    justify-content: space-between;
}

.filter-header, .category-filter{
    border-bottom: 1px solid #E5E7EB;
}

.filter-header .heading{
    font-size: 1.1rem;
}
.filter-header .clear-text{
    font-size: 0.9rem !important;
    margin-top: 2px;
}

.clear-text{
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
}

.clear-text:active{
    color: #0572e7;
}

.add-product_btn{
    border: none;
    background-color: #007bff !important;
    color: white;
    padding: 7px 14px;
    border-radius: 6px;
    transition: background-color,transform 0.3s ease-in-out;
}

.add-product_btn:active{
    background-color: #0572e7 !important;
}

.add-product_btn:hover{
    transform: translateY(-0.7px);
}

.category-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-title{
    font-size: 0.9rem;
    color: #4A5568 !important;
}

.category-item{
    display: flex;
    justify-content: space-between;
}

.category-item span{
    font-size: 14px;
}

.category-item .category-count{
    padding:1px 6px;
    font-size: 11px;
    margin-top: 3px;
    background-color: #E5E7EB !important;
    color: black;
    border-radius: 5px;
}

/* Product list section */
.product-list-section{
    display: flex;
    flex-direction: column;
    gap: 30px !important;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.product-list-header{
    display: flex;
    justify-content: space-between;
}

.search-box{
    position: relative;
}

.search-box input{
    padding: 6px 10px 7px 40px;
    border: 1px solid #d4d6da;
    border-radius: 5px;
    line-height: 1.5;
}

.search-box input::placeholder{
    font-size: 14px;
    color: #a4a7ac;
}

.search-box i>img{
    position: absolute;
    top: 12px;
    left: 23px;

}
.search-box input:focus{
    outline: none;
}

.nav-tab{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-tab:active{
    text-decoration: underline;
}

.form-check-input{
    box-shadow: none !important;
}