/* Basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .register-container {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  }
  
  .registration-form h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 25px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 1px;
    color: #444;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .error {
    color: #d9534f;
    font-size: 0.875rem;
    margin-top: 6px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #00b3bd;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #00696e;
  }

  .login-link{
    text-align: center;
    color: #444;
    margin-top: 15px;
  }

  .login-link a {
    color: #00696e;
    text-decoration: none;
  }

  .login-link a:hover {
    text-decoration: underline;
}
  